%section
  .container
  
    .hero-unit.span8
      %h1 Zelus APIs
      %p
        Zelus provides data on Members of Parliament (MP), ADUN and Council Members in Malaysia, including what they stand for, whay their policies are and how to contact them.
      %p
        Zelus is part of the 
        %a{href: "http://sinarproject.org"} Sinar Project.
      %p  
        %a.btn.btn-large{href: "https://github.com/Sinar/Zelus"} Learn More