!!! 1.1
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title :: Zelus :: 
    %link{rel:  'stylesheet', href:  'http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css', type:  'text/css'}
    %link{rel:  'stylesheet', href:  'http://fonts.googleapis.com/css?family=Gudea', type:  'text/css'}
    %link{rel:  'stylesheet', href:  'http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css', type:  'text/css'}
    %link{rel:  'stylesheet', href:  '/css/docs.css', type:  'text/css'}    
    
    :css
      body {font-family: 'Gudea', sans-serif;}
      section { padding-top: 60px;}
      
    %script{type: 'text/javascript', src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
    %script{type: 'text/javascript', src: "http://current.bootstrapcdn.com/bootstrap-v204/js/bootstrap.min.js"}        
    %script{type: 'text/javascript', src: "http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"}
    
    / [if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body
    =snippet(:toolbar, layout: false)
    =yield
