.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: '/'} Zelus

      .nav-collapse        
        %ul.nav
          %li
            %a{href: 'https://github.com/Sinar/Zelus'} Docs
        
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
              Source code
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: 'https://github.com/Sinar/Zelus'} Zelus APIs
              %li
                %a{href: 'https://github.com/Sinar/Zelus-Sample'} Zelus sample
