.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: '/'} Zelus

      .nav-collapse        
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
              Docs
              %b.caret
            %ul.dropdown-menu
              %li
                %a{href: '/docs/apidocs'} API
              %li
                %a{href: '/docs/tutorial'} Tutorial
