%section
  .container
    .page-header
      %h1 &nbsp;Tutorial
      
    .row
      .span12
        %p
          This tutorial that shows how a simple web application can be created to use
          Zelus APIs.
          
        %h3 Requirements
        
        %p
          This tutorial will be using Ruby, with Sinatra, Haml and RestClient libraries. It is assumed that 
          you have some knowledge of Ruby as well as these libraries.

